.heading{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;

}
.p1{
    font-size: 18px;
    text-align: center;
}
.heading2{
    font-size:40px;
    margin: 0 auto;
}
.p2{
    width:60%;
    font: size 22px;
    text-align: inherit;
    color:red;
    
}
.p3{
    width:60%;
    font: size 22px;;
    text-align:inherit;
    

}
.blok{

    text-align: initial;
    
}

.p4{
    width:60%;
    font: size 22px;
    text-align:inherit;

}
.button{
    background-color: blue;
    color: white;
    display: block;
    block-size: 50px;
    
}
.glavni{
    display: flex;
    margin-top: 200px;
    padding: 20px;
}
.sporedni{
    display: flex;
    
}
.header{
    margin: 0 auto;
    font-style: italic;
    font-size: 30px;
}
.dugme{
    block-size: 50px;
    position: relative;
}



